
# Disable redirects with trailing slashes when URLs match the directory paths
DirectorySlash Off





<IfModule mod_rewrite.c>

RewriteEngine On





# If the URI maps to a file, then do nothing
# RewriteCond "%{DOCUMENT_ROOT}%{REQUEST_URI}" -f
# RewriteRule . - [QSA,NC,L]

## -/-/-/-/-/-/
## ~ CUSTOMERS
## -/-/-/-/-/-/
# Add a customer
RewriteCond "%{REQUEST_METHOD}" GET
RewriteRule ^/?customers/add/?$ customers/add/index.php [QSA,NC,L]





</IfModule>
